menu "TJpgDec"

    config JD_SZBUF
        int "Specifies size of stream input buffer."
        default 512
        range 0 51200
        help
            See JD_SZBUF in tjpgdcnd.h.

    config JD_FORMAT
        int "Specifies output pixel format."
        default 0
        range 0 2
        help
            See JD_FORMAT in tjpgdcnd.h.

    config JD_USE_SCALE
        int "Switches output descaling feature."
        default 1
        range 0 1
        help
            See JD_USE_SCALE in tjpgdcnd.h.

    config JD_TBLCLIP
        int "Use table conversion for saturation arithmetic."
        default 1
        range 0 1
        help
            See JD_TBLCLIP in tjpgdcnd.h.

    config JD_FASTDECODE
        int "Optimization level"
        default 0
        range 0 2
        help
            See JD_FASTDECODE in tjpgdcnd.h.

endmenu
