# Config used in CI runs.

CONFIG_SMALLTV_WIFI_SSID="my-amazing-ssid"
CONFIG_SMALLTV_WIFI_PASSWORD="my-amazing-key"

CONFIG_APP_REPRODUCIBLE_BUILD=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_COMPILER_WARN_WRITE_STRINGS=y
CONFIG_MAIN_TASK_STACK_SIZE=3072

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_ERR_TO_NAME_LOOKUP=y

CONFIG_LWIP_NETBUF_RECVINFO=y
CONFIG_LWIP_IPV6=n
CONFIG_LWIP_MAX_SOCKETS=4
CONFIG_LWIP_NETIF_LOOPBACK=n
CONFIG_LWIP_MAX_ACTIVE_TCP=4
CONFIG_LWIP_MAX_LISTENING_TCP=4

CONFIG_LV_USE_TJPGD=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_APP_RETRIEVE_LEN_ELF_SHA=16
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

FREERTOS_HZ=200
