menu "RTP/JPEG"

    config RTP_JITBUF_CAP_N_PACKETS
        prompt "RTP jitterbuffer capacity number of packets"
        int
        default 20

    config RTP_JITBUF_CAP_PACKET_SIZE_BYTES
        prompt "RTP jitterbuffer capacity size per packet"
        int
        default 1400
        help
            Should be equal to expected UDP MTU.

    menu "JPEG"

        config RTP_JPEG_MAX_DATA_SIZE_BYTES
            prompt "Max allowed JPEG frame size"
            int
            default 22528

    endmenu

endmenu
